<div
  class="value-stat"
  [class.value-stat--counting]="!counted()"
  [class.value-stat--counted]="counted()"
  [attr.aria-label]="number() + suffix() + ' ' + label()">

  <div class="value-stat__number">
    <span class="value-stat__display" aria-hidden="true">{{ displayValue() }}</span>
    <span class="value-stat__suffix" aria-hidden="true">{{ suffix() }}</span>
    <span class="visually-hidden">{{ number() }}{{ suffix() }}</span>
  </div>

  <div class="value-stat__divider" aria-hidden="true"></div>

  <div class="value-stat__label">{{ label() }}</div>
</div>
